<div class="container-fluid offers-container">

    <div class="row justify-content-center">

        <div class="col-12 col-md-8 d-flex justify-content-center">
            <img src="/assets/imgs/status/bank-home.svg" alt="Banco de ofertas Acsendo" class="home-img">
        </div>

        <div class="col-12 col-md-8 d-flex justify-content-center flex-column text-center">
            <h2 class="font-color-primary">Banco de Ofertas</h2>
            <h2>Conoce todas las vacantes disponibles para ti</h2>
        </div>

    </div>

</div>
